@charset "utf-8";


/* layout */
.dv_wrap {display: block;position: relative;max-width: 1400px;margin: 0 auto;z-index: 1;}

/* gnb 메뉴 */
#mGnb { display:none}
#gnb > li.others{ display:none;}

#wrap {min-width:1200px;font-family: 'Pretendard';}
#header {position:absolute;top:0;left:0;z-index:20;width:100%;min-width:1200px;height:140px;/* background:url('../images/common/t_bg.gif') repeat-x left top; */}
.gnb_bg:before{content:"";display:block;width:100%;height:100vh;position:absolute;left:0;top:0;background: rgba(0,0,0,0.6);z-index: 99;position: fixed;}
/* #header .temp {height:130px; background:url("../images/common/bg_menu_open.gif") repeat-x center 140px;} */
#header .temp{position: relative;z-index: 999;background:#fff;border-bottom: 1px solid #eaeaea;/* overflow: hidden; */}
.headerWrap{border-bottom: 1px solid #eaeaea;background: #fff;/* position: absolute; */padding: 0px 23px 0px;top: 0px;left: 0px;}
.headerWrap .logo{float:left;padding-top: 32px;}
.headerWrap .gnb_wrap{float:right;width: 77%;}
.headerWrap .gnb_wrap > div{float:left;}
.lnb_bg{position:absolute;top: 96px;left:0px;/* display:none; */height: 180px;width: 100%;z-index: 9;background: #fff;}
.gnb_bg .lnb_bg{display:block;}
.lnb_bg .lnb_img{background-color:#ffecee;background-image: url(../images/common/gnb_bg03_02.png), url(../images/common/gnb_bg02_08.png);background-repeat: no-repeat;background-position: right bottom, right top;background-size: 100% 63%, 30% 40%;width: 23%;height:100%;}
.lnb_bg .lnb_img .txt{position:absolute;top: 30px;left:75px;font-family:'SBaggro';font-style: oblique;font-weight:400;}
.lnb_bg .lnb_img .txt strong{font-size:1.8rem; color:#d53d3d; font-weight:400;}
.lnb_bg .lnb_img .txt p{font-weight:400;}


.gnbIn{width: 76%;}
nav .gnb{width: 100%;position: relative;}
nav .gnb > li{text-align: center;float:left;width: calc(100% / 8);/* position: relative; */}
nav .gnb > li.on > a::after{width:100%;}
nav .gnb > li > a::after{content:""; display:block; position:absolute; bottom:-3px; left:0px; width:0%; height:3px; background:#d53d3d; transition:all 0.3s;}
nav .gnb > li > a{display: block;position:relative;font-size: 1.3rem;/* padding: 37px 0px 0px; */line-height: 96px;text-decoration:none;}
.ulWrap{z-index: 999;position:absolute;width: 100%;top: 95px;left: 0%;/* transform: translate(-50%, 0px); */background: #fff;display: none;}
.ulWrap ul{display:flex;justify-content: flex-start;flex-wrap: wrap;padding-top: 15px;}
.ulWrap li{display: table;margin: 0px 10px 10px 0px;text-align:center;word-break: keep-all;width: 15%;border: 1px solid #eaeaea;border-radius: 10px;font-size: 0.9rem;line-height: 1.3rem;vertical-align: middle;}
.ulWrap li:hover{color:#fff; background:#d53d3d;}
.ulWrap li a{width: 100%;padding: 10px 10px;display:  table-cell;text-align: center;vertical-align: middle;text-decoration:none;height: 63px;font-size: 1rem;}

.headerWrap .gnb_wrap > div.search_box{margin-top: 34px;margin-right: 21px;position:relative;float:right;}
.search_box .btn_open{background:url(../images/main/header_ico.png) no-repeat;width: 27px;height: 27px; color:transparent; font-size:0px;}
.box_search_0{display: none;background:#f2f2f2;border-radius:50px;padding: 0px 10px 0px 10px;position:absolute;top: -7px;right: -5px;width: 300px;}
.box_search_0.active{display:block;}
.box_search_0 input{width: calc(100% - 63px);border:none;background: none;padding: 0px;}
.box_search_0 button{font-size:0px;color:transparent;background: url(../images/main/header_ico.png) no-repeat;width: 27px;height: 27px;}
.box_search_0 button.btn_close{background: url(../images/main/btn_close.png) no-repeat;}

.headerWrap .gnb_wrap > div.util{float: right;/* width: calc(30% - 47px); */padding-top:34px;margin-right: 10px;}
.util > ul > li{float:left; margin-right:15px;}
.util .login{font-size:0px;color:transparent;}
.util .login a{display: block;width:24px;height:24px;background:url(../images/main/header_ico.png) no-repeat -39px;}
.util .lang{width:27px;height:27px;background: url(../images/main/header_ico.png) no-repeat -73px;}
.util .lang button{font-size:0px;width: 100%;height: 100%;color:transparent;}
.util .lang > ul{width: 90px;border: 1px solid #000;padding: 5px 7px;border-radius: 12px;background: #fff;}
.util .lang > ul li{border-bottom: 1px solid #bbb;padding-bottom:5px;}
.util .lang > ul li:last-child{border-bottom:0px;padding-bottom: 0px;}
.util .sitemap{color:transparent;font-size:0px;float:right;}
.util .sitemap a{display:block; width:27px;height:27px;background: url(../images/main/header_ico.png) no-repeat -110px;}

#container{padding-top:140px;overflow: hidden;}


/* footer */
.area_footer {position:relative;background: #f2f3f8;}
.box_footer {position:relative;width: 1400px;margin:0 auto;padding-bottom:25px;}
.footer_link {position:relative;width:100%;height:50px;line-height:50px;z-index:10;}
.footer_link button { display:none;}
.footer_link li {float:left; position:relative;}
.footer_link li::after{content:"";display:block;width:1px;height:16px;background: #b5b6ba;position:absolute;top: 18px;right:0px;}
.footer_link li a {display:block;padding: 0px 20px;/* font-family: 'Noto Sans KR'; */font-size: 0.9rem;color: #555;font-weight: 700;}
.footer_link li:first-child a{padding-left:0px;}
.footer_link li.point a{color: #f72727;}

.box_footer .f_today {background: #eaebf2;position:absolute;top: 10px;right:0;/* line-height: 0px; */color: #555;padding: 2px 26px;border-radius: 50px;font-weight: 600;}
.box_footer .f_today span{color:#1e4e7d;}
.box_footer .f_today span:last-child {margin-left:20px;}

.box_footer .box_info {padding:15px 0;line-height:20px;font-size: 0.9rem;color: #555;/* border-bottom:1px dashed #4f5d6f; */overflow:hidden;font-weight: 400;}
.box_footer address {/* float:left; */}
.box_footer p.copyright {/* float:right; */}

.box_footer .f_tal {padding: 0px 0px;position:relative;width: 100%;margin: 10px auto 0;letter-spacing:-1px;overflow:hidden;}
.box_footer .f_tal h3 {width:270px; height:50px; float:left; padding-right:23px; font-size:17px; color:#fff; text-align:center; background:url('../images/common/bg_tel.gif') no-repeat right center;}
.box_footer .f_tal h3 span {display:block; width:266px; height:46px; line-height:46px; border:2px solid #1f2b3a; border-radius:25px; background:url('../images/common/patern3.gif') repeat left top;}
.box_footer .f_tal h3 span b {color:#fff799; font-weight:normal;}
.box_footer .f_tal ul {width: 100%;padding:4px 0;/* float:right; */overflow:hidden;}
.box_footer .f_tal ul li {width: 32%;float:left;line-height:22px;color: #555;}
.box_footer .f_tal ul li span {display:block;width:110px;color: #042265;font-weight: 400;float:left;}
.box_footer .f_tal ul li.f_tal_2 span {width:110px; }

/* 사이트링크 */
.siteLink {border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;width: 100%;/* height:50px; */margin: 0 auto;}
.siteLink .dv_wrap{display: flex;z-index:11;justify-content: space-between;flex-wrap: nowrap;width: 1400px;margin: 0 auto;}
.siteLink .site_list {position:relative;width: 25%;/* margin:0 0.5%; *//* float:left; */cursor:pointer;border-right: 1px solid #ddd;}
.siteLink .site_list:first-child{border-left:1px solid #ddd;}
.siteLink .site_list h2{/* height:50px; *//* line-height:50px; */padding: 20px 20px;font-family:"NanumSquareR";font-size: 1.1rem;color: #555;background: url('../images/common/btn_fnb_44.png') no-repeat right 20px center;}
.siteLink .site_list ul {display:none;position:absolute;bottom: 67px;width:100%;height:200px;z-index:20;background:#000;opacity:0.9;padding:10px 0;overflow-y:auto}
.siteLink .site_list ul li {padding:3px 0 3px 20px;}
.siteLink .site_list ul li a { display:block; font-family:'NanumSquareR'; font-size:12px; color:#fff; letter-spacing:-1px; line-height:20px; padding-left:8px; background:url('/images/web/training/main/noti_dot.png') no-repeat 0 8px}
.siteLink .site_list ul li:hover a { text-decoration:underline; color:#ffe77b}

/* banner */
#bnr{border: 1px solid #e2e2e2;padding: 10px 0px 10px 0px;}
#bnr .dv_wrap{display:flex;/* padding: 0px 0px 20px 0px; */}
.bnrCtrl{width: 200px;display: flex;padding: 16px 0px 10px;font-size: 1.1rem;color: #000;}
.bnrCtrl .tit{margin-right: 27px;font-family: 'SBaggro';color: #474747;padding-top: 4px;}
.bnrCtrl ul{/* display:flex; */padding: 6px 0px 5px;}
.bnrList{height: 60px;width: calc(100% - 200px);}
.bnrList img{width:auto;max-height: 100%;height: 100%;max-width: 100%;}
.bnrList li{margin-right:20px;}
#bnr .bnrCtrl ul li{margin-right: 12px;float:left;}
#bnr .bnrCtrl ul li a {display: block;width: 10px;height: 16px;font-size: 0;text-indent: -9999em;margin-left: -1px;background: #fff url('../images/main/bnr_ctrl_40.png') no-repeat;}
#bnr .bnrCtrl ul li a.prev {background-position:0px}
#bnr .bnrCtrl ul li a.stop {background-position: -15px;width:9px;display:none;}
#bnr .bnrCtrl ul li a.play {background-position: -32px;display:none;}
#bnr .bnrCtrl ul li a.next {background-position: -46px;}
#bnr .bnrCtrl ul li a.on {display: block;}
#bnr .bnrCtrl ul li a.all{background-position: -47px;width: 13px;}

@media screen and (max-width: 1400px){
	#bnr{padding:0px;}
	#bnr .dv_wrap{padding: 10px 20px 10px;}
	.siteLink .dv_wrap{width:100%;}
	.siteLink .site_list:first-child{border-left:none;}
	.siteLink .site_list:last-child{border-right:none;}
	.box_footer{width:100%;padding: 0px 10px;}
}
@media screen and (max-width: 1280px) {
		
	#wrap,
	.headerWrap,
	#container,
	.box_footer,
	#gnb > li.others .m_util li,
	.box_search_2 .box_search_2_1,
	.box_search_2 input,
	.langTM button, .langTM ul {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box}
	#container{padding-top: 110px;}
	.headerWrap .logo  {-webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; transition:all 0.3s ease}
	
	.headerWrap,
	.box_footer {width:100%;}
	
	#wrap{ min-width:300px; width:100%}
	#header {position:fixed;  min-width:300px; height:auto; background:none; }
	#header .temp {height:15px;}
	
	.headerWrap {text-align: center;height: 70px;/* border-bottom:3px solid #d71b34; */background:#fff;}
	.headerWrap .logo {padding-top: 15px;float: none;}
	.bg_wrap{display:none;}

	/* 검색 */
	.box_search_0 {display: block;top: 0px;left: 50%;position: static;width: 100%;/* transform: translate(-50%, 0px); */background: #fff;}	
	.box_search_0 input{width: calc(100% - 45px);}
	.box_search_0.active{top: 0px;}
	.box_search_1 {position:absolute; top:14px; right:2.5%; width:40px; height:40px; display:block; text-indent:-10000px; overflow:hidden; background:url("../images/common/btn_search_t.png") no-repeat center; background-size:40px; z-index:99;}
	.box_search_1 p a {display:block; width:40px; height:40px;}
	.box_search_2 {position:absolute; right:0; top:0; width:100%; height:70px; display:none; overflow:hidden; z-index:99;}
	.box_search_2 .box_search_2_1 {position:absolute; top:0; right:-120%; width:100%; height:75px; padding:0 80px 0 2.5%; background:#d71b34;}
	.box_search_2 .box_search_2_1 form {position:relative; }
	.box_search_dim {position:absolute; top:14px; right:2.5%; width:40px; height:40px; text-indent:-10000px; background: url("../images/common/btn_search_t2.png") no-repeat center; background-size:40px; z-index:99;}
	.box_search_dim p a {display:block; height:40px;}
	.box_search_2 input {position:absolute; top:15px; left:0; width:78%; height:38px; line-height:38px; color:#fff; padding:0 0 0 10px; border:1px solid #ff94a2; background:#d71b34; }
	.box_search_2 input::-webkit-input-placeholder {color:#fff; font-family:'Nanum'}
	.box_search_2 input:-moz-placeholder {color:#fff;  font-family:'Nanum'; opacity:1}
	.box_search_2 input::-moz-placeholder {color:#fff;  font-family:'Nanum'; opacity:1}
	.box_search_2 input:-ms-input-placeholder {color:#fff; font-family:'Nanum'}
	.box_search_2 button {position:absolute; top:15px; right:0; width:20%; height:40px; line-height:40px; font-size:16px; color:#fff; background:#7f101f; }
	
	/* 유틸 */
	.headerWrap .util { display:none;}

	/*탑메뉴*/
	#gnb > li.others{display:block;background: linear-gradient(-90deg, rgb(255 144 165) 0%, rgb(255 200 196) 100%);padding: 80px 10px 10px;position:relative;border-radius: 15px;margin-bottom: 10px;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);}
	#gnb > li.others::after{content:"";display:block;position:absolute;top: 15px;left: 0px;width: 100%;height: 60px;background: url(../images/main/logo_w.png) no-repeat center top;}
	#gnb > li.others > a span { display:none;}
	#gnb > li.others > .m_util{padding:10px;display: flex;justify-content: space-between;background: #fff;border-radius: 10px;}
	#gnb > li.others > .m_util > li {width: 33%;color: #333;font-size:13px;text-align:center;vertical-align: middle;border-right: 1px solid #bfbfbf;padding: 0px 5px;}
	#gnb > li.others > .m_util > li > a{font-size: 1rem;font-weight: 600;display: block;padding: 0px 0px;border-radius: 50px;/* border: 1px solid #fff; */}
	#gnb > li.others > .m_util > li a:active { color:#fff;}
	#gnb > li.others > .m_util > li:last-child {width: 34%; border-right:none;}

	/* 언어 */
	.lang  {display:none;} 
	.langTM {position:relative; z-index:999;}
	.langTM button {font-weight: 600;display:block;width:100%;font-size: 1rem;/* height:35px; *//* line-height:35px; */padding: 5px 0px;/* overflow:hidden; */background:url("../images/common/bg_languageTM.gif") no-repeat right center;}
	.langTM ul {display:none; position:absolute; top:35px; left:0; width:100%; z-index:99; overflow:hidden;}
	.langTM ul li a {display:block; padding:4px 7px; color:#fff; font-size:13px; border-top:1px solid #111; background:#000; opacity:0.8;}
	.langTM ul li:first-child a {border-top:0; }

	/* gnb 메뉴 */
	#mGnb {position:absolute; top: 30px;width: 20px;height: 20px;/* padding: 15px; */display:block;overflow:hidden;font-size:0;text-indent:-10000px;-moz-background-size:40px auto;/* -webkit-background-size:40px auto; */z-index: 9;}
	#mGnb.allmenu {background: url("../images/main/all_menu.png") no-repeat 50% 50% / 100% 100%;right:-50px;top: 25px;}
	#mGnb.close {background: url("../images/main//btn_sub_close.png") no-repeat 50% 50%;right: 35px;}
	
	.headerWrap .gnb_wrap {position:fixed;left: -400px;top:0;width: 500px;height:100%;z-index:3;float: none;}
    .gnb_wrap .gnbIn {position:relative;height:100%;}
    .gnb_wrap nav {position:relative;width:auto;height:100%;background: #fff;overflow:hidden;overflow-y: scroll;z-index:3;padding: 15px 15px;}

    #gnb {position:static;width:100%;border-radius: 15px;float:none;/* overflow: hidden; *//* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */}
    #gnb > li {position:static;width:auto;margin:0;padding:0;text-align:left;float:none;border-right:none;background:none;}
	#gnb > li.gnb_first {width:100%;background:none;border-radius: 15px 15px 0px 0px;overflow: hidden;}
    #gnb > li.others > a{height:0px;font-size: 0px;display: none;}
	#gnb > li > a {width: 100%;height: 50px;display:block;line-height: 34px;text-align:left;padding:7px 0 7px 20px;color:#fff;font-size:16px;border-right:none;border-bottom: 1px solid #ffffff;background: #ff7587;}
	#gnb > li > a:hover, 
	#gnb > li > a:focus,
	#gnb > li > a:active { color:#fff; text-decoration:none;}	
	#gnb > li:last-child{border-radius:0px 0px 15px 15px; overflow:hidden;}
	#gnb > li:last-child > a{border-bottom:none;}
	#gnb > li:hover > a {color:#fff;background: #e04e54;/* border-bottom: 1px solid #ffffff; */}
	#gnb > li.gnb_first > a {border-left:none;}
		
    #gnb > li > div {position:static;width:auto;height:auto;margin:0;padding: 0px 0px 0px 0px;border:0;/* background:#021638; */}
    #gnb > li > div.ulWrap{/* padding: 13px; */}
	#gnb > li > div.ulWrap > ul{padding-top: 0px;}
	#gnb > li > div.ulWrap > ul > li{display: block;width: 100%;margin-bottom: 10px;margin: 0px;border-radius: 0px;border: 1px solid #eaeaea;border-top: 0px;}
	#gnb > li > div > ul > li {width:auto; margin:0;}
	.lang2{display:none;}

	
	.headerWrap .gnb_wrap > div.search_box{display:none;}
	#gnb > li.others .search_box{padding: 10px 20px;text-align: right;position: relative;}

	.bnrCtrl{/* width: 20%; */}
	.bnrList{/* width: 80%; *//* height: 40px; */}
	
	/*하위메뉴*/
    #gnb > li > div.lang2 > ul > li > a{padding: 13px 0 13px 20px;}
    #gnb > li > div > ul > li > a {height: auto;display:block;font-size:14px;color: #333;/* border-bottom:1px solid #234072; */padding: 13px 0px 13px;}
    #gnb > li > div > ul > li > a:hover,
    #gnb > li > div > ul > li > a:focus,
    #gnb > li > div > ul > li > a:active {color:#fff799;}
		
	/* footer */
	.box_footer {width:100%; padding-bottom:130px;}
	.footer_link {width:100%; line-height:30px;}
	.footer_link button {width:100%;line-height:50px;display:block;text-align:center;/* color:#fff; */}
    .footer_link ul {display:none; position:absolute; left:0; bottom:50px; width:100%; opacity:0.9;}
    .footer_link ul li {float:none; padding:0; margin:0; border-bottom:1px solid #000; }
	.footer_link li:first-child a,
    .footer_link ul li a { display:block; padding:5px 7px; color:#fff; background:#333; }
	.footer_link li.point a {color:#fff;}

	.box_footer .f_today {font-size: 0.9rem;bottom: 30px;left: 50%;transform: translate(-50%, 0px);top: auto;right: auto;width: 230px;}

	.box_footer address {float:none; text-align:center;}
	.box_footer p.copyright {float:none; text-align:center;}

	.box_footer .f_tal {width:95%;}
	.box_footer .f_tal h3 {float:none; margin:0 auto 10px; padding:0;}
	.box_footer .f_tal ul {width:100%;}
	.box_footer .f_tal ul li {width:50%;}

	/* 사이트링크 */
	.siteLink {position:relative;/* width:96%; */margin:0 auto;}
	.siteLink .site_list {/* width:49%; *//* margin:2px 0.5%; */}
	.siteLink .site_list ul { width:100%}

	

}

@media screen and (max-width :1024px){
	#bnr .dv_wrap{height:60px;}
	.bnrCtrl{padding: 8px 0px 4px;}
	.siteLink .dv_wrap{flex-wrap:wrap;}
	.siteLink .site_list{width:50%;}
	.siteLink .site_list:nth-child(1){border-bottom: 1px solid #ddd;}
	.siteLink .site_list:nth-child(2){border-right:none;border-bottom: 1px solid #ddd;}
	
}

@media screen and (max-width :680px) {
	#gnb > li.others{padding-top:70px;}
	#gnb > li.others::after{/* width: 150px; */background-size: 150px;top: 20px;}
	#mGnb.close{right:30px;}
	.headerWrap .gnb_wrap{width:360px;left: -300px;}
	.box_footer .f_tal ul li {width:100%; float:none; font-size:13px;}
	.box_footer .f_tal ul li span, .box_footer .f_tal ul li.f_tal_2 span {width:100px; }
	#gnb > li.others > .m_util{display:block;}
	#gnb > li.others > .m_util > li{width:100%; border-right:none; border-bottom:1px solid #eaeaea;}
	#gnb > li.others > .m_util > li:last-child{width:100%; border-bottom:none;}
	#gnb > li.others > .m_util > li > a{font-size:0.8rem;}
	#gnb > li.others > .m_util > li > button{font-size:0.8rem;padding: 6px 0px;}
	.box_search_0 input{font-size:0.8rem;}
	.bnrCtrl{width: 135px;font-size:0.85rem;}
	.bnrCtrl .tit{margin-right:15px;}
	#bnr{padding:0px 0px;}
	#bnr .bnrCtrl ul li a{width: 6px;background-size: 30px;}
	#bnr .bnrCtrl ul li a.stop {background-position: -7px;width:6px;}
	#bnr .bnrCtrl ul li a.play {background-position: -17px;}
	#bnr .bnrCtrl ul li a.next {background-position: -24px;}
	.bnrList{width:calc(100% - 135px);}
	.bnrList li a{display: block;height: 42px;}
	.siteLink .site_list h2{font-size:1rem;}
}

@media screen and (max-width :480px) {

	.headerWrap{ height:72px;}
	/* .headerWrap .gnb_wrap{width:100%;} */
	/* .gnbIn{width:100%;} */
	/* 로고 */
	.headerWrap .logo{
    padding-top: 25px;
}
	.headerWrap .logo img {width:170px;}
	
	/* footer */
	.box_footer {width:100%; padding-bottom:230px;}
	
	/* 사이트링크 */
	.siteLink {width: 100%;border: none;}
	.siteLink .site_list {width:100%;margin:2px 0%;border-bottom:1px solid #ddd;border-right: none;}
	.siteLink .site_list ul { width:100%}
	
}

@media screen and (max-width :380px) {


}
